.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .not-found-gif {
    max-width: 100%;
    height: auto;
  }
  