@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap');

/* Global alle Elemente mit Dosis */
* {
  font-family: 'Dosis', sans-serif;
}

.navbar {
  z-index: 1000;
  height: 80px;
  background: #F59422;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease;
  position: relative;

  .navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px;
  }

  .logo-box {
    .logo {
      height: 50px;
      width: auto;
    }
  }

  .menu-icon {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: #fff;

    &.active {
      color: #ff6347;
    }
  }

  .nav-items {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;

    .nav-link {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      padding: 10px 15px;
      border-radius: 5px;
      transition: background-color 0.3s ease, transform 0.3s ease;
      display: flex;
      align-items: center;
      gap: 8px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        transform: scale(1.05);
      }

      &.active {
        background-color: #ff6347;
        color: #fff;
      }
    }

    .logout-button {
      background: none;
      border: none;
      color: #fff;
      font-size: 18px;
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 5px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #ff6347;
      }
    }
  }

  // Mobile View (Burger Menu)
  @media (max-width: 768px) {
    .menu-icon {
      display: block;
    }

    .nav-items {
      position: fixed;
      top: 0;
      right: 0;
      width: 0;
      height: 100vh;
      background-color: #F59422;
      overflow-y: auto;
      z-index: 1000;
      transition: width 0.3s ease-in-out;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 80px;

      &.active {
        width: 70%;
      }

      li {
        width: 100%;
      }

      .nav-link,
      .dropdown-toggle {
        width: 100%;
        text-align: left;
        padding: 15px;
      }

      .dropdown-menu {
        position: static;
        display: none;
        background: none;
        box-shadow: none;
        width: 100%;

        li {
          padding-left: 30px;
        }
      }

      .dropdown:hover .dropdown-menu {
        display: flex;
      }
    }
  }
}
